@font-face {
    font-family: Jetbrains;
    src: local("Jetbrains"),
    url("fonts/JetBrainsMono-Regular.ttf") format("truetype"),
    font-display: swap;
}


html {
    background-image: url("images/black.PNG");
    overflow: scroll;
}


body {        
    max-width: 800px;
    margin: 0 auto;
    margin-top:24px;
    padding: 4px;
    padding-bottom: 0px;
    border-style: solid;
    border-width: 4px;
    border-left-color: #676;
    border-top-color: #676;
    border-right-color: #232;
    border-bottom-color: #232;
}

nav {
	display: flex;
    border-style: none;
    border-width: 0px;
    padding: 0px;            
    padding-top:36px;
}

/*the thingy under the tabs*/
.mainhead {
    background-color: #000;
    margin-top: 0px;
    margin-bottom:4px;  
    height:1.5em;
    line-height: 1.5em;
    padding-right: 0.2em;
    font-weight: normal;    
}

/* global button styling */
a.button, header, section > h2, .mainhead, .avatar {
    border-style: solid;
    border-width: 4px;
    border-left-color: #676;
    border-top-color: #676;
    border-right-color: #232;
    border-bottom-color: #232;
}

main {
    display: none;
    scroll-margin-top: 200px;
}

section {
    padding-bottom:4px;
}

body, a.button {
    background-color: #444;
    font: 14px "Jetbrains",serif;
    color: #fff;
}

main header {
    display: flex;
}

header time {
    margin-left: auto;
}

header, main h2 {
    background-color: #808;    
    height:1.5em;
    line-height: 1.5em;    
    padding-left: 0.2em;
    padding-right: 0.2em;
}

h2 {
	font-weight: normal;
	font-size: inherit;
	margin: inherit;
}

p {
    margin-top:4px;
    margin-bottom:8px;    
    padding-left:4px;
    vertical-align: middle;
}

list {
    display: block;
    margin-bottom: 10px;
}

li {
    margin-left: 16px;
}

a.button {    
    height: 1.25em;
    line-height: 29px;
    padding-top:2px;            
    padding-bottom:2px;            
    padding-left:4px;
    padding-right:4px;
	text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.discord {  
    border-style: solid;
    border-width: 4px;  
    border-left-color: #232;
    border-top-color: #232;
    border-right-color: #676;
    border-bottom-color: #676;
    margin-bottom:1px;
}

a.button:active {
    padding-top:3px;
    padding-bottom:1px;
    padding-left:5px;
    padding-right:3px;
    border-left-color: #232;
    border-top-color: #232;
    border-right-color: #676;
    border-bottom-color: #676;
}

.buticon {
    width: 16px;
    height: 16px;
    padding-right:4px;
    margin-bottom: -3px;
    image-rendering: pixelated;
}

a.tab,a.activetab {
    line-height:19px;
    border-bottom: 0px;
    padding-bottom:2px;
    padding-top:1px;
}

a.tab:active {
    padding-top:2px;
    padding-bottom:1px;
    padding-left:5px;
    padding-right:3px;
    border-left-color: #232;
    border-top-color: #232;
    border-right-color: #676;
}

a.activetab {
    border-left-color: #232;
    border-top-color: #232;
    border-right-color: #676;
    border-bottom-color: #676;
}